<div class="container">
  <form action="/user/signup" method="post">
    <input type="text" name="user[name]" placeholder="Username">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Sign Up!">
  </form>
</div>
