<div class="container">
  <form action="/user/signup" method="post">
    <label for="user[name]">Name: </label>
    <input type="text" name="user[name]" placeholder="Username"><br>
    <label for="user[email]">Email: </label>
    <input type="text" name="user[email]" placeholder="Email"><br>
    <label for="user[password]">Password: </label>
    <input type="password" name="user[password]" placeholder="Password"><br>
    <input type="submit" value="Sign Up!">
  </form>
</div>
