<div class='container'>
	<form method='post' action='/editpost'>
		<label for='author'>Your name: </label>
		<input type='text' name='author'><br>
		<label for='title'>Title of your post: </label>
		<input type='text' name='title'><br>
		<label for='content'>Your post: </label>
		<textarea cols='50' name='content'></textarea><br>
		<label for='tags'>Tags: </label>
		<input type='text' name='tags'><br>
		<input type='submit'>
	</form>
</div>