<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <div class="heading">
      <h1><a href='/'>Bob Loblaw's Law Blog</a></h1>
    </div>
    <% unless session[:user_id] == nil %>
      <div class="log">
        <% author = Author.find_by_id(session[:user_id]) %>
        Currently logged in as: <strong><a href="/authors/<%= author.name %>"><%= author.name %></strong></a>
        <span>//</span>
        <a href="/user/logout">Log Out</a>
      </div>
    <% end %>
  </nav>
  <div class="content">
    <% unless session[:errors] == nil %> 
      <div class="container">
        <p><%= session[:errors] %></p>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
